body,
h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Nunito", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
/* Nav Bar */
.header {
  width: 100%;
  max-width: 1600px;
  /* background-color: aqua; */
  margin: 0px auto 0px auto;
}
.ui.secondary.menu {
  margin-bottom: 0 !important;
}

.divider {
  margin: 0 auto 25px auto !important;
}

.logo {
  font-size: 30px;
  font-weight: bolder !important;
}

.right-menu {
  margin-right: 3% !important;
}

/* Body */
.container {
  width: 90%;
  max-width: 1600px;
  margin: 0px auto 50px auto;
}

/* Car Card */
.car-card {
  margin: 0px auto 10px auto !important;
}

.book-btn {
  margin-top: 10px;
}

@media (max-width: 500px) {
  .car-card {
    width: 95% !important;
  }
  .car-img > img {
  height: 20px !important;
  object-fit: cover;
}
}

@media (min-width: 1300px) {
  .book-btn {
    width: 60%;
  }
}

.all-cars-list {
  align-items: center;
}

.car-img > img {
  height: 150px !important;
  object-fit: cover;
}

/* Car details */
.full-car-img {
  width: 100%;
}

.car-name {
  font-size: 3rem;
}

/* Modal */
.modal-action-btn{
  margin-left: 10px !important;
}
.modal-action-btn-grp{
  float: right;
  margin-bottom: 20px !important;
}